@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');

.app{
  background-color: #1D2226;
  color: white;
  min-height: 100vh;
  font-family: 'Manrope', sans-serif;
  font-weight: 700;
  box-sizing: border-box;
}
.body{
  display: flex;
  flex-direction: column;
  margin-left: 96px;
  margin-top: 24px;
}